body#homepage{
	background-image: url("images/homepage.jpg");
	background-color: #cccccc;
	width: 70%;
	margin: auto;
	padding: 10px;
	border-width:5px;  
    border-style:double;
}

.zoo{
	color : #666;
	margin:0 10% 0 0;
	font-size:2rem;
}

.zoo span{
	display:block;
	font-size:1rem;
	font-weight:normal;
}

.header {
	padding:35px;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.nav {
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	flex:1 0 0;
	justify-content:space-between;
	align-items:center;
}

.nav li {
	display:inline-block;
}

.nav a {
	text-decoration:none;
	text-transform:uppercase;
	color:#000;
	font-size:1rem;
}

.nav a:hover{color:#f00;}

@media screen and (max-width:1000px){
	.zoo{margin:0 0 1em;flex:1 0 100%;}
}

@media screen and (max-width:678px){
	.nav,.nav li, .nav a{display:block;padding:2px 0;}
}

form input{
	margin-left: 30px;
}

#search{
	margin-right: 20px;
}

caption{
	text-align: left;
	color: #666;
	font-size: 1rem;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #ff9a9e;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ff9a9e;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff9a9e;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #ff9a9e;
}

#content h1, #content h2{
	font-family: "Trebuchet MS", sans-serif;
   	font-size: 1em;
   	letter-spacing: 1px;
   	border-bottom: 2px solid black;
   	text-transform: uppercase;
}

#meet{
	display: flex;
	justify-content: space-between;
}

#animaladd{
	display: flex;
}

#animaladd h3{
	text-align:left;
	font-family: "Trebuchet MS", sans-serif;
	font-variant:small-caps;
	color:#000;
	letter-spacing: 1px;
	margin-right: 50px;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
	border-radius:6px;
	border:1px solid #d4f1f9;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d4f1f9;
}
.myButton:hover {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(148,187,233,1) 0%,  rgba(238,174,202,1) 100%);
}
.myButton:active {
	position:relative;
	top:1px;
}

#upld img{
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px;
  height: 300px;
  width: 400px;
  margin: auto;
}

#upld img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
