body#homepage{
	background-image: url("images/homepage.jpg");
	background-color: #cccccc;
	width: 70%;
	margin: auto;
	padding: 10px;
	border-width:5px;  
    border-style:double;
}

.zoo{
	color : #666;
	margin:0 10% 0 0;
	font-size:2rem;
}

.zoo span{
	display:block;
	font-size:1rem;
	font-weight:normal;
}

.header {
	padding:35px;
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}

.nav {
	margin:0;
	padding:0;
	list-style:none;
	display:flex;
	flex:1 0 0;
	justify-content:space-between;
	align-items:center;
}

.nav li {
	display:inline-block;
}

.nav a {
	text-decoration:none;
	text-transform:uppercase;
	color:#000;
	font-size:1rem;
}

.nav a:hover{color:#f00;}

@media screen and (max-width:1000px){
	.zoo{margin:0 0 1em;flex:1 0 100%;}
}

@media screen and (max-width:678px){
	.nav,.nav li, .nav a{display:block;padding:2px 0;}
}

form input{
	margin-left: 30px;
}

#search{
	margin-right: 20px;
}

caption{
	text-align: left;
	color: #666;
	font-size: 1rem;
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #ff9a9e;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ff9a9e;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff9a9e;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #ff9a9e;
}

#content h1, #content h2{
	font-family: "Trebuchet MS", sans-serif;
   	font-size: 1em;
   	letter-spacing: 1px;
   	border-bottom: 2px solid black;
   	text-transform: uppercase;
}